* {
  padding: 0;
  margin: 0;
  font-family: 'Nanum Myeongjo', serif;
}

body {
  background: black;
  color: slategrey;
  line-height: 1;
  height: 90vh;
}

.dropdown {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  background: lightblue;
}

.slide ul {
  width: 50%i
  display: flex;
  list-style: none;
  justify-content: center;
}

.slide ul li{
  margin: 0 0.5rem;
  padding: 1rem;
}

.slide ul li a{
  tex-decoration: none;
  text-transform: none;
  color: ghostwhite;
}

.slide ul li a:hover {
  color: darkgrey;
}

nav {
  min-height: 14vh;
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  font-size: 2rem;
  flex: 1;
  display: flex;
  justify-content: space-around;
  position: sticky;
}

nav a {
text-decoration: none;
}

section {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
}

#sewingList {
  color: ghostwhite;
  font-size: 20px;
}
